/* 기본 스타일 초기화 */
* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%; 
}

html, body {
    height: 100%;
    min-height: 100vh; /* 화면 높이를 100%로 설정 */
}

/* 배경 이미지 스타일 */
.background-image {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('https://github.com/user-attachments/assets/a9bd9547-b137-484d-bfba-88426af5efbc');
    background-size: cover;
    background-position: center;
}

/* 불투명한 오버레이 */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* 불투명한 검은색 배경 */
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 콘텐츠 영역 스타일 */
.content_wrap {
    font-size: 14px;
    text-align: center;
    padding-top: 15px;
    margin: 0 15px;
    color: #fff; /* 글씨 색상 변경 */
    line-height: 20px;
}

.content_wrap h1 {
    font-size: 25px;
    font-weight: bold;
    color: #50a27f;
}

.content_wrap h1 img {
    height: 40px;
    vertical-align: middle;
}

/* 연락처 영역 */
.contact_wrap {
    text-align: center;
    padding-top: 15px;
}

.contact_wrap a {
    font-size: 15px;
    color: #fff; /* 글씨 색상 변경 */
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    min-width: 40px;
    border-radius: 5px;
    margin: 5px;
}

.contact_wrap a.bg1 {
    background-color: #bbedc8;
}

.contact_wrap a.bg2 {
    background-color: #9bddbe;
}

.contact_wrap a.bg3 {
    background-color: #ccf2cb;
}

.contact_wrap img {
    height: 15px;
    padding-right: 5px;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

/* 날짜, 주소 영역 */
.date_wrap, .addr_wrap {
    text-align: center;
    font-size: 14px;
    margin: 10px;
}

.date_wrap span, .addr_wrap span {
    color: #fff;
}

/* 지도 영역 */
.map_wrap {
    margin-top: 20px;
    height: 300px;
    background-color: #ddd;
    text-align: center;
    font-size: 14px;
}

/* 저작권 정보 */
.copy {
    font-size: 12px;
    color: #888;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
